* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.contain{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

header {
  background: #333;
  color: #fff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #77aaff 3px solid;
}

header h1 {
  float: left;
  margin-top: 0;
}

nav {
  float: right;
  margin-top: 10px;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-left: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.hero-section {
  background: linear-gradient(to right, #4facfe, #00f2fe);
  color: #fff;
  text-align: center;
  padding: 100px 20px;
}

.hero-section h2 {
  font-size: 3em;
}

.hero-section p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.hero-section .btn {
  background: #fff;
  color: #333;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 1.1em;
  transition: background 0.3s;
}

.hero-section .btn:hover {
  background: #333;
  color: #fff;
}

.section {
  padding: 50px 0;
  margin: 20px 0;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.skill {
  margin-bottom: 15px;
}

.progress {
  width: 100%;
  background-color: #f4f4f4;
  height: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.progress span {
  display: block;
  height: 100%;
  background-color: #77aaff;
}

.progrid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.pro {
  width: 30%;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.pro:hover {
  transform: scale(1.05);
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  color: #333;
  margin-right: 10px;
  font-size: 1.5em;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #77aaff;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .projects-grid {
    flex-direction: column;
    align-items: center;
  }

  .pro {
    width: 100%;
    margin-bottom: 20px;
  }
}
